<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/ibm-app/style2.css">
    <title>Gallery</title>
</head>
<body>
    <h1 class="head">Gallery</h1>
    <div class="container">
        <div class="left">
            <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/ibm-app/pexels-george-desipris-792381.jpg" alt="" class="img img-1">
            <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/ibm-app/pexels-laura-the-explaura-3608263.jpg" alt="" class="img img-2">
            <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/ibm-app/pexels-pixabay-247502.jpg" alt="" class="img img-3">
        </div>
        <div class="right">
            <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/ibm-app/pexels-pixabay-34231.jpg" alt="" class="img img-4">
            <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/ibm-app/pexels-pixabay-47547.jpg" alt="" class="img img-5">
            <img src="https://s3.jp-tok.cloud-object-storage.appdomain.cloud/ibm-app/pexels-pixabay-67552.jpg" alt="" class="img img-6">
        </div>
    </div>

</body>
</html>